.component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: #e0e0e0;
  border: 1px solid #921029;
  font-size: 35px;
  flex: 1 0 auto;
  padding: 0;
  height: 73px;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.red button {
  background-color: #F2274F;
  color: white;
}
